extend default

block content
  h4(class="card-title") Chat with us! 
	a(href="http://freenode.net/")Freenode #techcavern
iframe(src="https://webchat.freenode.net?channels=%23techcavern&uio=d4" width="647" height="400")
