extend default

block content
  p.
    Society can and does execute its own mandates: and if it issues wrong mandates instead of right, or any mandates at all in things with it ought not to meddle, it practices a social tyranny more formidable than many kinds of political oppression, since, though not usually upheld by such extreme penalties, it leaves fewer means of escape, penetrating much more deeply into the details of life, and enslaving the soul itself. -John Stuart Mill

  p.
     Every man who says frankly and fully what he thinks is so far doing a public service. We should be grateful to him for attacking most unsparingly our most cherished opinions. -John Stuart Mill

p. Do not waste your time in this world pursuing things that you will inevitably lose when you die. Instead, use the time you have to pursue the one thing that will stay with you through death to the afterlife, love. Love can take many forms and the more of it you have, the happier you will be. -Julian Zhou

