extend default

block content
  p. 
	a(href='http://github.com/TechCavern/WaveTact">WaveTact') WaveTact 
	- Linux IRC Bot - 
	a(href='ttps://github.com/TechCavern/WaveTact/blob/master/license.txt') MIT License
	WaveTact is an IRC bot built upon the 
	a(href='https://github.com/TheLQ/pircbotx')PircBotX
	 framework. This bot is intended as an all-in-one utility bot, but NOT meant to be a replacement for IRC services. Rather it is intended to compliment IRC services. NickServ authentication is recommended, but the ability to auth by the bots own authentication system as well as by hostmask only is available as well.

  p. 
	a(href='http://github.com/TechCavern/WaveSite')WaveSite 
	- This Website - 
	a(href='https://github.com/TechCavern/WaveSite/blob/master/license.txt')MIT License
  WaveSite is built upon 
	a(href='https://nodejs.org/en/')nodeJS 
	and
	a(href='http://jade-lang.com')Jade
	and
	a(href='https://expressjs.com')Express
p.
     a(href='https://github.com/TechCavern/WaveLine')WaveLine 
	- DEPRECATED Android App -
	a(href="https://github.com/TechCavern/WaveLine/blob/master/LICENSE.md">MIT License
  WaveLine is intended to be an Android Information App that allows you to retrieve information from a variety of places in a simple, yet elegant manner.
